@model SafeSpot.Model.tb_reg

@{
    ViewBag.Title = "Register";
    SafeSpot.Model.db_SafeSpotEntities6 db = new SafeSpot.Model.db_SafeSpotEntities6();
    //var n = db.tb_conreg.ToList();
    Layout = "~/Views/Shared/_Layout.cshtml";
}




@using (Html.BeginForm("Register", "reg", FormMethod.Post, new { id = "form1", name = "form1", @enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()

    <!DOCTYPE html>
    <html>
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width" />
        <title>Home</title>
        <link href="~/Content/Site.css" rel="stylesheet" type="text/css" />
        <link href="~/Content/bootstrap.min.css" rel="stylesheet" type="text/css" />
        <script src="~/Scripts/modernizr-2.6.2.js"></script>
        <link href="https://fonts.googleapis.com/css?family=Exo+2&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
        <style>
             /*.error {
        color: white !important;
        font-size: 18px !important;
        margin-left: 2% !important;
    }*/
            body {
                background-image: url('../../Images/cars_bw_dark_135210_1920x1080.jpg');
                background-repeat: no-repeat;
                background-size: cover;
                font-family: 'Exo 2', sans-serif;
            }
            .reg-box{
                font-family: 'Exo 2', sans-serif;
                width:280px;
                color:white;
                position:absolute;
                top:50%;
                left:50%;
                transform:translate(-50%,-50%);
            }
            .reg-box h2{
                font-family: 'Exo 2', sans-serif;
                float:left;
                font-size:28px;
                border-bottom:2px solid #85b66b;
                margin-bottom:50px;
                padding:13px 0;
                letter-spacing:3px;
                font-weight:bold;
            }
            .text-box{
                width:100%;
                overflow:hidden;
                font-size:18px;
                padding:8px 0;
                margin:8px 0;
                border-bottom:2px solid #85b66b;
            }
            .text-box i{
                width:26px;
                float:left;
                text-align:center;
                color:white;
            }
            .text-box input{
                border:none;
                outline:none;
                background:none;
           
            }
            /*.text-box select,option{
                border:none;
                outline:none;
                background:none;
                color:#808080;
            }*/
            .btn {
                width:100%;
                background:none;
                border:2px solid #85b66b;
                color:white;
                padding:3px;
                font-size:18px;
                cursor:pointer;
            }
           
        </style>
    </head>
    <body>
        <form action="/reg/Register" method="post">
            <div class="reg-box">
                <h2>Register</h2>
                <div class="text-box">
                    <i class="glyphicon glyphicon-user"></i>
                    <input type="text" placeholder="Name" name="name" value="" />
                </div>
                <div class="text-box">
                    <i class="fa fa-mobile-phone" style="font-size:24px"></i>
                    <input type="text" placeholder="Phone No." name="phone" value="" />
                </div>
                <div class="text-box">
                    <i class="fa fa-envelope" style="font-size:24px"></i>
                    <input type="text" placeholder="Gmail" name="mail" value="" />
                </div>
                <div class="text-box">
                    <i class="fa fa-user" style="font-size:24px"></i>
                    <input type="text" placeholder="Username" name="username" value="" />
                </div>
                <div class="text-box">
                    <i class="fa fa-lock" style="font-size:24px"></i>
                    <input type="password" placeholder="Password" name="password"id="password" value="" />
                </div>
                <div class="text-box">
                    <i class="glyphicon glyphicon-lock"></i>
                    <input type="password" placeholder="Confirm Password" name="confirmpassword" value="" />
                </div>
                @*<div class="text-box">
                    <i class="fa fa-users" style="font-size:24px"></i>
                    <select name="usertype">
                        <option value="User">User</option>
                        <option value="Agent">Agent</option>
                     </select>
                </div>*@
                <input class="btn" type="submit" name="" value="Register" />


                <div class="form-group">

                    <div class="col-md-10">
                        <label class="label-success">
                            @ViewBag.s
                        </label>
                        <label class="label-danger">
                            @ViewBag.f
                        </label>
                    </div>
                </div>
            </div>
        </form>
           
     </body>
</html>
}


        @*<div>
            @Html.ActionLink("Back to List", "Index")
        </div>*@


        <script src="~/Scripts/jquery-1.10.2.min.js"></script>
        <script src="~/Scripts/jquery.validate.min.js"></script>
        <script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
 
<script type="text/javascript">
    $(document).ready(function () {
        $("#form1").validate({
            rules: {

                name: "required",
                phone: "required",
                gmail: "required",
                username: "required",

                password: {
                    required: true,
                    minlength: 5},
                confirmpassword: {
                    required: true,
                    minlength: 5,
                    equalTo: "#password"
                }
            },
                usertype: "required",
               
               

            messages: {

                name: "fill this" ,

                phone: "fill this" ,

                username:  "fill this" ,
                password: { required: "Please provide password",
                    minlength: "Password must be at least 5 characters long"
                },
                //confirmpassword: "fill this"
                confirmpassword: {
                    required: "Please provide password",
                    minlength: "Password must be at least 5 characters long"
                    
                },
               
            },
            submitHandler: function (form) {
                form.submit();
            }
        });
    });
</script>